/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
body {
  background: fixed url("../images/main_background.jpg") no-repeat;
  margin: 0;
  padding: 0;
  /*font-family: 'Jura', sans-serif;*/
  font-family: 'Bad Script', cursive;
}

/* line 15, ../sass/screen.scss */
.wrapper {
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/screen.scss */
header {
  background: linear-gradient(to bottom, #333333, #0d0d0d);
  height: 200px;
  margin: 0;
  box-shadow: 0 0 15px black;
}
/* line 26, ../sass/screen.scss */
header .logo_nav {
  width: 999px;
  margin: 0 auto;
}
/* line 31, ../sass/screen.scss */
header .logo {
  float: left;
  margin: 45px 0 0 0;
}
/* line 38, ../sass/screen.scss */
header nav ul {
  margin: 0;
}
/* line 42, ../sass/screen.scss */
header nav ul li {
  display: block;
  float: left;
  height: 50px;
  margin: 139px 2px 0 2px;
  padding: 10px 12px 0 12px;
}
/* line 50, ../sass/screen.scss */
header nav ul li a {
  text-decoration: none;
  color: #a2a2a2;
  font-size: 1.5em;
}
/* line 56, ../sass/screen.scss */
header nav ul li:hover {
  background-color: #2c2c2c;
  border-bottom: solid #a2a2a2 1px;
}
/* line 61, ../sass/screen.scss */
header nav ul li:first-child {
  margin-left: 110px;
}

/* line 67, ../sass/screen.scss */
.content {
  width: 999px;
  min-height: 817px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
/* line 74, ../sass/screen.scss */
.content .foto {
  float: left;
  height: 284px;
  margin: 30px 30px 0 30px;
  box-shadow: 0 0 15px black;
}
/* line 81, ../sass/screen.scss */
.content article.collection {
  overflow: hidden;
}
/* line 85, ../sass/screen.scss */
.content article {
  background-color: rgba(185, 175, 175, 0.22);
  color: whitesmoke;
  font-size: 1.1em;
  padding: 30px 30px 30px 30px;
  height: auto;
  min-height: 817px;
  /*---------Buttons------------*/
}
/* line 93, ../sass/screen.scss */
.content article p.about {
  text-align: justify;
}
/* line 96, ../sass/screen.scss */
.content article img.invitation {
  margin: 5px;
}
/* line 99, ../sass/screen.scss */
.content article a.invitation {
  text-decoration: none;
  color: whitesmoke;
  border: solid 1px whitesmoke;
  margin: 0 5px 0 5px;
  padding: 0 10px 0 10px;
}
/* line 106, ../sass/screen.scss */
.content article a.invitation:hover {
  background-color: #a2a2a2;
}
/* line 109, ../sass/screen.scss */
.content article div.shelf {
  margin: 0 auto;
}
/* line 112, ../sass/screen.scss */
.content article div.map {
  border: solid 1px whitesmoke;
  padding: 5px;
  width: 600px;
  height: 450px;
}
/* line 119, ../sass/screen.scss */
.content article iframe.map {
  width: 600px;
  height: 450px;
}
/* line 126, ../sass/screen.scss */
.content article form label {
  display: inline-block;
  width: 120px;
}
/* line 131, ../sass/screen.scss */
.content article form input {
  width: 300px;
  height: 27px;
  border: solid 1px grey;
  padding: 0 10px 2px 10px;
  font-family: 'Bad Script', cursive;
  color: #1e1e1e;
  margin-bottom: 10px;
}
/* line 140, ../sass/screen.scss */
.content article form textarea {
  border: solid 1px grey;
  padding: 0 10px 2px 10px;
  font-family: 'Bad Script', cursive;
  color: #1e1e1e;
}
/* line 146, ../sass/screen.scss */
.content article form input.button {
  width: 190px;
  height: 40px;
  background-color: transparent;
  border: solid 1px whitesmoke;
  font-family: 'Bad Script', cursive;
  color: whitesmoke;
  font-size: 1.2em;
  padding: 0 0 10px 0;
  margin-top: 10px;
}
/* line 157, ../sass/screen.scss */
.content article form input.button:hover {
  background-color: #a2a2a2;
}
/* line 162, ../sass/screen.scss */
.content article #beatles:checked ~ .sprite-beatles_1,
.content article #beatles:checked ~ .sprite-beatles_2,
.content article #beatles:checked ~ .sprite-beatles_3,
.content article #beatles:checked ~ .sprite-beatles_4,
.content article #beatles:checked ~ .sprite-beatles_5,
.content article #beatles:checked ~ .sprite-beatles_6,
.content article #beatles:checked ~ .sprite-beatles_7,
.content article #beatles:checked ~ .sprite-beatles_8 {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 175, ../sass/screen.scss */
.content article #beatles:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 180, ../sass/screen.scss */
.content article #billie_holiday:checked ~ .sprite-billie-holiday {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 186, ../sass/screen.scss */
.content article #billie_holiday:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 191, ../sass/screen.scss */
.content article #bob-dylan:checked ~ .sprite-bob_dylan {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 197, ../sass/screen.scss */
.content article #bob-dylan:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 202, ../sass/screen.scss */
.content article #david-bowie:checked ~ .sprite-david-bowie {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 208, ../sass/screen.scss */
.content article #david-bowie:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 213, ../sass/screen.scss */
.content article #deep-purple:checked ~ .sprite-deep_purple {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 219, ../sass/screen.scss */
.content article #deep-purple:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 224, ../sass/screen.scss */
.content article #elvis_preastley:checked ~ .sprite-elvis_preastley_1,
.content article #elvis_preastley:checked ~ .sprite-elvis_preastley_2,
.content article #elvis_preastley:checked ~ .sprite-elvis_preastley_3 {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 232, ../sass/screen.scss */
.content article #elvis_preastley:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 237, ../sass/screen.scss */
.content article #frank_sinatra:checked ~ .sprite-frank_sinatra_1,
.content article #frank_sinatra:checked ~ .sprite-frank_sinatra_2,
.content article #frank_sinatra:checked ~ .sprite-frank_sinatra_3 {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 245, ../sass/screen.scss */
.content article #frank_sinatra:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 250, ../sass/screen.scss */
.content article #iron-maiden:checked ~ .sprite-iron_maiden {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 256, ../sass/screen.scss */
.content article #iron-maiden:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 261, ../sass/screen.scss */
.content article #lou-reed:checked ~ .sprite-iron_maiden {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 267, ../sass/screen.scss */
.content article #lou-reed:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 272, ../sass/screen.scss */
.content article #louis-armstrong:checked ~ .sprite-louis_armstrong {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 278, ../sass/screen.scss */
.content article #louis-armstrong:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 283, ../sass/screen.scss */
.content article #machel_jackson:checked ~ .sprite-machel_jackson_1,
.content article #machel_jackson:checked ~ .sprite-machel_jackson_2,
.content article #machel_jackson:checked ~ .sprite-machel_jackson_3 {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 291, ../sass/screen.scss */
.content article #machel_jackson:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 296, ../sass/screen.scss */
.content article #madonna_:checked ~ .sprite-madonna {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 302, ../sass/screen.scss */
.content article #madonna_:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 307, ../sass/screen.scss */
.content article #queen_:checked ~ .sprite-queen_1,
.content article #queen_:checked ~ .sprite-queen_2,
.content article #queen_:checked ~ .sprite-queen_3,
.content article #queen_:checked ~ .sprite-queen_4,
.content article #queen_:checked ~ .sprite-queen_5 {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 317, ../sass/screen.scss */
.content article #queen_:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 322, ../sass/screen.scss */
.content article #queen-latiffa:checked ~ .sprite-queen_latiffa {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 328, ../sass/screen.scss */
.content article #queen-latiffa:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 333, ../sass/screen.scss */
.content article #tom-johns:checked ~ .sprite-tom_johns {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 339, ../sass/screen.scss */
.content article #tom-johns:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 344, ../sass/screen.scss */
.content article #ulla-pugacheva:checked ~ .sprite-ulla_pugacheva {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 350, ../sass/screen.scss */
.content article #ulla-pugacheva:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 355, ../sass/screen.scss */
.content article #vysotskij_:checked ~ .sprite-vysotskij_1,
.content article #vysotskij_:checked ~ .sprite-vysotskij_2,
.content article #vysotskij_:checked ~ .sprite-vysotskij_3 {
  visibility: visible;
  transition: 2s;
  position: relative;
}
/* line 363, ../sass/screen.scss */
.content article #vysotskij_:checked ~ .shelf {
  visibility: hidden;
  position: absolute;
}
/* line 368, ../sass/screen.scss */
.content article span {
  font-weight: bold;
}
/* line 371, ../sass/screen.scss */
.content article div {
  position: relative;
  float: left;
  margin: 10px;
}
/* line 376, ../sass/screen.scss */
.content article .sprite-beatles_1 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px 0px;
}
/* line 383, ../sass/screen.scss */
.content article .sprite-beatles_2 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -218px;
}
/* line 390, ../sass/screen.scss */
.content article .sprite-beatles_3 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -436px;
}
/* line 397, ../sass/screen.scss */
.content article .sprite-beatles_4 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -654px;
}
/* line 404, ../sass/screen.scss */
.content article .sprite-beatles_5 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -872px;
}
/* line 411, ../sass/screen.scss */
.content article .sprite-beatles_6 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -1090px;
}
/* line 418, ../sass/screen.scss */
.content article .sprite-beatles_7 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -1308px;
}
/* line 425, ../sass/screen.scss */
.content article .sprite-beatles_8 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -1526px;
}
/* line 432, ../sass/screen.scss */
.content article .sprite-billie-holiday {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -1744px;
}
/* line 439, ../sass/screen.scss */
.content article .sprite-bob_dylan {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -1962px;
}
/* line 446, ../sass/screen.scss */
.content article .sprite-david-bowie {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -2180px;
}
/* line 453, ../sass/screen.scss */
.content article .sprite-deep_purple {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -2398px;
}
/* line 460, ../sass/screen.scss */
.content article .sprite-elvis_preastley_1 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -2616px;
}
/* line 467, ../sass/screen.scss */
.content article .sprite-elvis_preastley_2 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -2834px;
}
/* line 474, ../sass/screen.scss */
.content article .sprite-elvis_preastley_3 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -3052px;
}
/* line 481, ../sass/screen.scss */
.content article .sprite-frank_sinatra_1 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -3270px;
}
/* line 488, ../sass/screen.scss */
.content article .sprite-frank_sinatra_2 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -3488px;
}
/* line 495, ../sass/screen.scss */
.content article .sprite-frank_sinatra_3 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -3706px;
}
/* line 502, ../sass/screen.scss */
.content article .sprite-iron_maiden {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -3924px;
}
/* line 509, ../sass/screen.scss */
.content article .sprite-lou_reed {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -4142px;
}
/* line 516, ../sass/screen.scss */
.content article .sprite-louis_armstrong {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -4360px;
}
/* line 523, ../sass/screen.scss */
.content article .sprite-machel_jackson_1 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -4578px;
}
/* line 530, ../sass/screen.scss */
.content article .sprite-machel_jackson_2 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -4796px;
}
/* line 537, ../sass/screen.scss */
.content article .sprite-machel_jackson_3 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -5014px;
}
/* line 544, ../sass/screen.scss */
.content article .sprite-madonna {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -5232px;
}
/* line 551, ../sass/screen.scss */
.content article .sprite-nautilus {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -5450px;
}
/* line 558, ../sass/screen.scss */
.content article .sprite-queen_1 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -5668px;
}
/* line 565, ../sass/screen.scss */
.content article .sprite-queen_2 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -5886px;
}
/* line 572, ../sass/screen.scss */
.content article .sprite-queen_3 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -6104px;
}
/* line 579, ../sass/screen.scss */
.content article .sprite-queen_4 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -6322px;
}
/* line 586, ../sass/screen.scss */
.content article .sprite-queen_5 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -6540px;
}
/* line 593, ../sass/screen.scss */
.content article .sprite-queen_latiffa {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -6758px;
}
/* line 600, ../sass/screen.scss */
.content article .sprite-tom_johns {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -6976px;
}
/* line 607, ../sass/screen.scss */
.content article .sprite-ulla_pugacheva {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -7194px;
}
/* line 614, ../sass/screen.scss */
.content article .sprite-vysotskij_1 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -7412px;
}
/* line 621, ../sass/screen.scss */
.content article .sprite-vysotskij_2 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -7630px;
}
/* line 628, ../sass/screen.scss */
.content article .sprite-vysotskij_3 {
  width: 220px;
  height: 218px;
  visibility: hidden;
  position: absolute;
  background: url(../images/sprites.png) no-repeat 0px -7848px;
}
/* line 636, ../sass/screen.scss */
.content article .sprite-1play_right_arrow {
  width: 30px;
  height: 30px;
  background: url(../images/sprites_buttons.png) no-repeat 0px 0px;
}
/* line 641, ../sass/screen.scss */
.content article .sprite-2pause {
  width: 30px;
  height: 30px;
  background: url(../images/sprites_buttons.png) no-repeat 0px -30px;
}
/* line 646, ../sass/screen.scss */
.content article .sprite-3speaker_volume- {
  width: 30px;
  height: 30px;
  background: url(../images/sprites_buttons.png) no-repeat 0px -60px;
}
/* line 651, ../sass/screen.scss */
.content article .sprite-4speaker_volume {
  width: 30px;
  height: 30px;
  background: url(../images/sprites_buttons.png) no-repeat 0px -90px;
}
/* line 657, ../sass/screen.scss */
.content article button {
  background-color: transparent;
  width: 60px;
}
/* line 662, ../sass/screen.scss */
.content article div.sprite-1play_right_arrow,
.content article .sprite-2pause,
.content article .sprite-3speaker_volume-,
.content article div.sprite-4speaker_volume {
  margin: 0;
  padding: 0;
}
/* line 669, ../sass/screen.scss */
.content article .sprite-house {
  width: 26px;
  height: 26px;
  margin: 17px 0 0 0;
  background: url(../images/sprites_contacts.png) no-repeat 0px 0px;
}
/* line 676, ../sass/screen.scss */
.content article .sprite-phone {
  width: 26px;
  height: 26px;
  margin: 0;
  background: url(../images/sprites_contacts.png) no-repeat 0px -26px;
}
/* line 682, ../sass/screen.scss */
.content article .sprite-skype {
  width: 26px;
  height: 26px;
  margin: 0;
  background: url(../images/sprites_contacts.png) no-repeat 0px -52px;
}
/* line 688, ../sass/screen.scss */
.content article p.address,
.content article p.phone,
.content article p.skype {
  display: inline-block;
  margin: 0 0 0 20px;
}
/* line 694, ../sass/screen.scss */
.content article p.address {
  margin-top: 17px;
}

/* line 700, ../sass/screen.scss */
footer {
  background: linear-gradient(to bottom, #cfcfcf, #707070);
  height: 150px;
  box-shadow: 0 0 15px black;
}
/* line 705, ../sass/screen.scss */
footer .logo_social_icons {
  width: 999px;
  margin: 0 auto;
}
/* line 709, ../sass/screen.scss */
footer .logo_social_icons p {
  display: inline-block;
  margin: 10px 0 0 170px;
}
/* line 715, ../sass/screen.scss */
footer .logo {
  float: left;
  margin: 15px 145px 0 15px;
}
/* line 720, ../sass/screen.scss */
footer .social_icons {
  width: 900px;
}
/* line 723, ../sass/screen.scss */
footer .social_icons p {
  display: inline-block;
  margin: 40px 0 0 0;
}
/* line 728, ../sass/screen.scss */
footer .social_icons .sprite-facebook {
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/sprites_si.png) no-repeat 0px 0px;
}
/* line 734, ../sass/screen.scss */
footer .social_icons .sprite-linkedin {
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/sprites_si.png) no-repeat 0px -40px;
}
/* line 740, ../sass/screen.scss */
footer .social_icons .sprite-twitter {
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/sprites_si.png) no-repeat 0px -80px;
}
/* line 746, ../sass/screen.scss */
footer .social_icons .sprite-you-tube {
  width: 40px;
  height: 40px;
  float: left;
  background: url(../images/sprites_si.png) no-repeat 0px -120px;
}

@media screen and (max-width: 999px) and (min-width: 800px) {
  /* line 756, ../sass/screen.scss */
  header {
    width: 100%;
    height: 86px;
  }
  /* line 759, ../sass/screen.scss */
  header .logo_nav {
    width: 100%;
  }
  /* line 761, ../sass/screen.scss */
  header .logo_nav .logo {
    margin: 0 0 0 10px;
    height: 86px;
  }
  /* line 764, ../sass/screen.scss */
  header .logo_nav .logo img {
    width: 200px;
  }
  /* line 768, ../sass/screen.scss */
  header .logo_nav nav {
    width: 100%;
  }
  /* line 770, ../sass/screen.scss */
  header .logo_nav nav ul {
    width: 100%;
  }
  /* line 772, ../sass/screen.scss */
  header .logo_nav nav ul li {
    margin: 40px 2px 0 2px;
    height: 35px;
  }
  /* line 775, ../sass/screen.scss */
  header .logo_nav nav ul li a {
    font-size: 1.1em;
  }
  /* line 779, ../sass/screen.scss */
  header .logo_nav nav ul li:first-child {
    margin-left: 25px;
  }

  /* line 787, ../sass/screen.scss */
  .content {
    width: 100%;
  }
  /* line 789, ../sass/screen.scss */
  .content .foto {
    height: 221px;
    margin: 15px 15px 0 15px;
  }
  /* line 792, ../sass/screen.scss */
  .content .foto img {
    width: 300px;
  }
  /* line 796, ../sass/screen.scss */
  .content article {
    width: 100%;
    font-size: 0.9em;
    padding: 20px 0 20px 0;
    margin: 0;
  }
  /* line 803, ../sass/screen.scss */
  .content article div.shelf img {
    width: 300px;
  }
  /* line 808, ../sass/screen.scss */
  .content article img.invitation {
    margin: 20px;
  }
  /* line 812, ../sass/screen.scss */
  .content article a.invitation {
    margin: 0 0 0 20px;
  }
  /* line 816, ../sass/screen.scss */
  .content article div.sprite-house,
  .content article div.sprite-phone,
  .content article div.sprite-skype {
    margin-left: 20px;
  }
  /* line 822, ../sass/screen.scss */
  .content article div.map {
    width: 600px;
    height: 450px;
    margin-left: 20px;
  }
  /* line 828, ../sass/screen.scss */
  .content article iframe.map {
    width: 600px;
    height: 450px;
  }
  /* line 833, ../sass/screen.scss */
  .content article form label {
    margin: 0 0 0 20px;
  }
  /* line 836, ../sass/screen.scss */
  .content article form input {
    margin: 0 0 0 20px;
  }
  /* line 839, ../sass/screen.scss */
  .content article form textarea {
    margin: 0 0 0 20px;
  }
  /* line 844, ../sass/screen.scss */
  .content article p {
    margin: 0 20px 0 20px;
  }

  /* line 850, ../sass/screen.scss */
  footer {
    width: 100%;
    height: 86px;
  }
  /* line 853, ../sass/screen.scss */
  footer .logo_social_icons {
    width: 100%;
    height: 86px;
  }
  /* line 856, ../sass/screen.scss */
  footer .logo_social_icons .logo {
    margin: 0 50px 0 10px;
    height: 86px;
  }
  /* line 859, ../sass/screen.scss */
  footer .logo_social_icons .logo img {
    width: 200px;
  }
  /* line 863, ../sass/screen.scss */
  footer .logo_social_icons .social_icons {
    width: 100%;
  }
  /* line 865, ../sass/screen.scss */
  footer .logo_social_icons .social_icons p {
    margin: 10px 0 0 0;
    font-size: 1em;
  }
  /* line 870, ../sass/screen.scss */
  footer .logo_social_icons p {
    margin-left: 20px;
  }
}
@media screen and (max-width: 799px) and (min-width: 320px) {
  /* line 878, ../sass/screen.scss */
  header {
    width: 100%;
    height: 200px;
  }
  /* line 881, ../sass/screen.scss */
  header .logo_nav {
    width: 100%;
  }
  /* line 884, ../sass/screen.scss */
  header .logo_nav .logo {
    margin: 0 auto;
    padding-top: 10px;
    height: 54px;
    float: none;
  }
  /* line 889, ../sass/screen.scss */
  header .logo_nav .logo img {
    width: 100px;
    margin: 0 0 0 10px;
  }
  /* line 894, ../sass/screen.scss */
  header .logo_nav nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* line 898, ../sass/screen.scss */
  header .logo_nav nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* line 902, ../sass/screen.scss */
  header .logo_nav nav ul li {
    margin: 0;
    padding: 0 5px 5px 5px;
    height: 22px;
    float: none;
    text-align: center;
  }
  /* line 908, ../sass/screen.scss */
  header .logo_nav nav ul li a {
    font-size: 0.9em;
  }

  /* line 918, ../sass/screen.scss */
  .content {
    width: 100%;
  }
  /* line 920, ../sass/screen.scss */
  .content .foto {
    height: 148px;
    margin: 8px 8px 0 8px;
  }
  /* line 923, ../sass/screen.scss */
  .content .foto img {
    width: 200px;
  }
  /* line 927, ../sass/screen.scss */
  .content article {
    width: 100%;
    font-size: 0.8em;
    padding: 20px 0 20px 0;
    margin: 0;
  }
  /* line 934, ../sass/screen.scss */
  .content article div.shelf img {
    width: 150px;
  }
  /* line 939, ../sass/screen.scss */
  .content article div.sprite-house,
  .content article div.sprite-phone,
  .content article div.sprite-skype {
    visibility: hidden;
    width: 0;
  }
  /* line 946, ../sass/screen.scss */
  .content article p.address,
  .content article p.phone,
  .content article p.skype {
    margin: 5px 0 5px 20px;
  }
  /* line 952, ../sass/screen.scss */
  .content article div.map {
    width: 300px;
    height: 200px;
  }
  /* line 957, ../sass/screen.scss */
  .content article iframe.map {
    width: 300px;
    height: 200px;
  }
  /* line 963, ../sass/screen.scss */
  .content article form label {
    margin: 0 0 0 10px;
  }
  /* line 966, ../sass/screen.scss */
  .content article form input {
    width: 200px;
    margin: 0 0 0 10px;
  }
  /* line 970, ../sass/screen.scss */
  .content article form textarea {
    width: 250px;
    height: 150px;
    margin: 0 0 0 10px;
  }
  /* line 975, ../sass/screen.scss */
  .content article form input.button {
    height: 28px;
  }
  /* line 980, ../sass/screen.scss */
  .content article p {
    margin: 0 20px 0 20px;
  }
  /* line 983, ../sass/screen.scss */
  .content article img.invitation {
    width: 300px;
  }

  /* line 989, ../sass/screen.scss */
  footer {
    width: 100%;
    height: 100px;
  }
  /* line 992, ../sass/screen.scss */
  footer .logo_social_icons {
    width: 100%;
    height: 64px;
  }
  /* line 995, ../sass/screen.scss */
  footer .logo_social_icons .logo {
    margin: 0 30px 0 10px;
    padding-top: 10px;
    height: 54px;
  }
  /* line 999, ../sass/screen.scss */
  footer .logo_social_icons .logo img {
    width: 100px;
  }
  /* line 1003, ../sass/screen.scss */
  footer .logo_social_icons .social_icons {
    width: 100%;
    float: none;
  }
  /* line 1006, ../sass/screen.scss */
  footer .logo_social_icons .social_icons p {
    margin: 1px 0 0 0;
    font-size: 0.6em;
  }
  /* line 1011, ../sass/screen.scss */
  footer .logo_social_icons p {
    margin-left: 20px;
    font-size: 0.6em;
  }
}
