/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

body {
  background-image: url(../images/bg_default.jpg);
}

/*-----------------*/

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
/*----------------------------------------*/
#container {
  width: 1600px;
  height: 600px;
  position: relative;
  background-color: #0000ef;
  margin: 0 auto;

  #start {
    margin-left: 45%;
    margin-top: 10%;
  }

  #containerRight {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #471b11;
    visibility: hidden;
  }
  #containerLeft {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #499d33;
    visibility: hidden;

    .sprite-city_1 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -0px;
    }
    .sprite-city_2 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -60px;
    }
    .sprite-city_3 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -120px;
    }
    .sprite-city_4 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -180px;
    }
    .sprite-city_5 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -240px;
    }
    .sprite-city_6 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -300px;
    }
    .sprite-city_7 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -360px;
    }

    .sprite-city_8 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -420px;
    }
    .sprite-city_9 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -480px;
    }
    .sprite-city_10 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -540px;
    }
    .sprite-city_11 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -600px;
    }
    .sprite-city_12 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -660px;
    }
    .sprite-city_13 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -720px;
    }
    .sprite-city_14 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -780px;
    }
    .sprite-city_15 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -840px;
    }
    .sprite-city_16 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -900px;
    }
    .sprite-city_17 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -960px;
    }
    .sprite-city_18 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1020px;
    }
    .sprite-city_19 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1080px;
    }
    .sprite-city_20 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1140px;
    }
    .sprite-city_21 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1200px;
    }
    .sprite-city_22 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1260px;
    }
    .sprite-city_23 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1320px;
    }
    .sprite-city_24 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1380px;
    }
    .sprite-city_25 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1440px;
    }
    .sprite-city_26 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1500px;
    }
    .sprite-city_27 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1560px;
    }
    .sprite-city_28 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1620px;
    }
    .sprite-city_29 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1680px;
    }
    .sprite-city_30 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1740px;
    }
    .sprite-city_31 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1800px;
    }
    .sprite-city_32 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1860px;
    }
    .sprite-city_33 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1920px;
    }
    .sprite-city_34 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -1980px;
    }
    .sprite-city_35 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2040px;
    }
    .sprite-city_36 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2100px;
    }
    .sprite-city_37 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2160px;
    }
    .sprite-city_38 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2220px;
    }
    .sprite-city_39 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2280px;
    }
    .sprite-city_40 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2340px;
    }
    .sprite-city_41 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2400px;
    }
    .sprite-city_42 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2460px;
    }
    .sprite-city_43 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2520px;
    }
    .sprite-city_44 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2580px;
    }
    .sprite-city_45 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2640px;
    }
    .sprite-city_46 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2700px;
    }
    .sprite-city_47 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2760px;
    }
    .sprite-city_48 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2820px;
    }
    .sprite-city_49 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2880px;
    }
    .sprite-city_50 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -2940px;
    }
    .sprite-city_51 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3000px;
    }
    .sprite-city_52 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3060px;
    }
    .sprite-city_53 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3120px;
    }
    .sprite-city_54 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3180px;
    }
    .sprite-city_55 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3240px;
    }
    .sprite-city_56 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3300px;
    }
    .sprite-city_57 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3360px;
    }
    .sprite-city_58 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3420px;
    }
    .sprite-city_59 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3480px;
    }
    .sprite-city_60 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3540px;
    }
    .sprite-city_61 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3600px;
    }
    .sprite-city_62 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3660px;
    }
    .sprite-city_63 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3720px;
    }
    .sprite-city_64 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3780px;
    }
    .sprite-city_65 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3840px;
    }
    .sprite-city_66 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3900px;
    }
    .sprite-city_67 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -3960px;
    }
    .sprite-city_68 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4020px;
    }
    .sprite-city_69 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4080px;
    }
    .sprite-city_70 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4140px;
    }
    .sprite-city_71 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4200px;
    }
    .sprite-city_72 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4260px;
    }
    .sprite-city_73 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4320px;
    }
    .sprite-city_74 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4380px;
    }
    .sprite-city_75 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4440px;
    }
    .sprite-city_76 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4500px;
    }
    .sprite-city_77 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4560px;
    }
    .sprite-city_78 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4620px;
    }
    .sprite-city_79 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4680px;
    }
    .sprite-city_80 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4740px;
    }
    .sprite-city_81 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4800px;
    }
    .sprite-city_82 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4860px;
    }
    .sprite-city_83 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4920px;
    }
    .sprite-city_84 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -4980px;
    }
    .sprite-city_85 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5040px;
    }
    .sprite-city_86 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5100px;
    }
    .sprite-city_87 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5160px;
    }
    .sprite-city_88 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5220px;
    }
    .sprite-city_89 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5280px;
    }
    .sprite-city_90 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5340px;
    }
    .sprite-city_91 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5400px;
    }
    .sprite-city_92 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5460px;
    }
    .sprite-city_93 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5520px;
    }
    .sprite-city_94 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5580px;
    }
    .sprite-city_95 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5640px;
    }
    .sprite-city_96 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5700px;
    }
    .sprite-city_97 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5760px;
    }
    .sprite-city_98 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5820px;
    }
    .sprite-city_99 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5880px;
    }
    .sprite-city_100 {
      width: 80px;
      height: 60px;
      background: url(../images/sprites_city.png) no-repeat -0px -5940px;
    }
  }
}

