/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

body {
  background: fixed url("../images/main_background.jpg") no-repeat;
  margin: 0;
  padding: 0;
  /*font-family: 'Jura', sans-serif;*/
  font-family: 'Bad Script', cursive;
}

.wrapper {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, #333333, #0d0d0d);
  height: 200px;
  margin: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 8);

  .logo_nav {
    width: 60%;
    margin: 0 auto;
  }

  .logo {
    float: left;
    margin: 45px 0 0 0;
  }

  nav {

    ul {
      margin: 0;
    }

    ul li {
      display: block;
      float: left;
      height: 50px;
      margin: 139px 2px 0 2px;
      padding: 10px 12px 0 12px;
    }

    ul li a {
      text-decoration: none;
      color: #a2a2a2;
      font-size: 1.7em;
    }

    ul li:hover {
      background-color: #2c2c2c;
      border-bottom: solid #a2a2a2 1px;
    }

    ul li:first-child {
      margin-left: 165px;
    }
  }
}

.content {
  width: 60%;
  margin: 0 auto;

  .foto {
    float: left;
    margin: 30px 30px 0 30px;
  }

  article {
    background-color: rgba(185, 175, 175, 0.22);
    color: whitesmoke;
    font-size: 1.1em;
    padding: 30px 50px 30px 50px;

    a.invitation {
      text-decoration: none;
      color: whitesmoke;
      border: solid 1px whitesmoke;
      margin: 0 5px 0 5px;
      padding: 0 10px 0 10px;
    }
    a.invitation:hover {
      background-color: #a2a2a2;
    }

    form {
      label {
        display: inline-block;
        width: 120px;
      }

      input {
        width: 300px;
        height: 27px;
        border: solid 1px grey;
        padding: 0 10px 2px 10px;
        font-family: 'Bad Script', cursive;
        color: #1e1e1e;
        margin-bottom: 10px;
      }
      textarea {
        border: solid 1px grey;
        padding: 0 10px 2px 10px;
        font-family: 'Bad Script', cursive;
        color: #1e1e1e;
      }
      input.button {
        width: 190px;
        height: 40px;
        background-color: transparent;
        border: solid 1px whitesmoke;
        font-family: 'Bad Script', cursive;
        color: whitesmoke;
        font-size: 1.2em;
        padding: 0 0 10px 0;
        margin-top: 10px;
      }
      input.button:hover {
        background-color: #a2a2a2;
      }
    }

    #beatles:checked~.sprite-beatles_1,
    #beatles:checked~.sprite-beatles_2,
    #beatles:checked~.sprite-beatles_3,
    #beatles:checked~.sprite-beatles_4,
    #beatles:checked~.sprite-beatles_5,
    #beatles:checked~.sprite-beatles_6,
    #beatles:checked~.sprite-beatles_7,
    #beatles:checked~.sprite-beatles_8 {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #beatles:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #billie_holiday:checked~.sprite-billie-holiday {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #billie_holiday:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #bob-dylan:checked~.sprite-bob_dylan {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #bob-dylan:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #david-bowie:checked~.sprite-david-bowie {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #david-bowie:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #deep-purple:checked~.sprite-deep_purple {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #deep-purple:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #elvis_preastley:checked~.sprite-elvis_preastley_1,
    #elvis_preastley:checked~.sprite-elvis_preastley_2,
    #elvis_preastley:checked~.sprite-elvis_preastley_3 {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #elvis_preastley:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #frank_sinatra:checked~.sprite-frank_sinatra_1,
    #frank_sinatra:checked~.sprite-frank_sinatra_2,
    #frank_sinatra:checked~.sprite-frank_sinatra_3 {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #frank_sinatra:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #iron-maiden:checked~.sprite-iron_maiden {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #iron-maiden:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #lou-reed:checked~.sprite-iron_maiden {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #lou-reed:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #louis-armstrong:checked~.sprite-louis_armstrong {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #louis-armstrong:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #machel_jackson:checked~.sprite-machel_jackson_1,
    #machel_jackson:checked~.sprite-machel_jackson_2,
    #machel_jackson:checked~.sprite-machel_jackson_3 {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #machel_jackson:checked~.shelf {
       visibility: hidden;
       position: absolute;
     }

    #madonna_:checked~.sprite-madonna {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #madonna_:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #queen_:checked~.sprite-queen_1,
    #queen_:checked~.sprite-queen_2,
    #queen_:checked~.sprite-queen_3,
    #queen_:checked~.sprite-queen_4,
    #queen_:checked~.sprite-queen_5 {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #queen_:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #queen-latiffa:checked~.sprite-queen_latiffa {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #queen-latiffa:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #tom-johns:checked~.sprite-tom_johns {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #tom-johns:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #ulla-pugacheva:checked~.sprite-ulla_pugacheva {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #ulla-pugacheva:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    #vysotskij_:checked~.sprite-vysotskij_1,
    #vysotskij_:checked~.sprite-vysotskij_2,
    #vysotskij_:checked~.sprite-vysotskij_3 {
      visibility: visible;
      transition: 2s;
      position: relative;
    }

    #vysotskij_:checked~.shelf {
      visibility: hidden;
      position: absolute;
    }

    span {
      font-weight: bold;
    }
    div {
      position: relative;
      float: left;
      margin: 10px;
    }
    .sprite-beatles_1 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -0px;
    }
    .sprite-beatles_2 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -218px;
    }
    .sprite-beatles_3 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -436px;
    }
    .sprite-beatles_4 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -654px;
    }
    .sprite-beatles_5 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -872px;
    }
    .sprite-beatles_6 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -1090px;
    }
    .sprite-beatles_7 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -1308px;
    }
    .sprite-beatles_8 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -1526px;
    }
    .sprite-billie-holiday {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -1744px;
    }
    .sprite-bob_dylan {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -1962px;
    }
    .sprite-david-bowie {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -2180px;
    }
    .sprite-deep_purple {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -2398px;
    }
    .sprite-elvis_preastley_1 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -2616px;
    }
    .sprite-elvis_preastley_2 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -2834px;
    }
    .sprite-elvis_preastley_3 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -3052px;
    }
    .sprite-frank_sinatra_1 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -3270px;
    }
    .sprite-frank_sinatra_2 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -3488px;
    }
    .sprite-frank_sinatra_3 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -3706px;
    }
    .sprite-iron_maiden {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -3924px;
    }
    .sprite-lou_reed {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -4142px;
    }
    .sprite-louis_armstrong {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -4360px;
    }
    .sprite-machel_jackson_1 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -4578px;
    }
    .sprite-machel_jackson_2 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -4796px;
    }
    .sprite-machel_jackson_3 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -5014px;
    }
    .sprite-madonna {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -5232px;
    }
    .sprite-nautilus {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -5450px;
    }
    .sprite-queen_1 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -5668px;
    }
    .sprite-queen_2 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -5886px;
    }
    .sprite-queen_3 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -6104px;
    }
    .sprite-queen_4 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -6322px;
    }
    .sprite-queen_5 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -6540px;
    }
    .sprite-queen_latiffa {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -6758px;
    }
    .sprite-tom_johns {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -6976px;
    }
    .sprite-ulla_pugacheva {
      width: 220px;
      height: 218px;
      visibility: hidden;
      background: url(../images/sprites.png) no-repeat -0px -7194px;
    }
    .sprite-vysotskij_1 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -7412px;
    }
    .sprite-vysotskij_2 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -7630px;
    }
    .sprite-vysotskij_3 {
      width: 220px;
      height: 218px;
      visibility: hidden;
      position: absolute;
      background: url(../images/sprites.png) no-repeat -0px -7848px;
    }
    /*---------Buttons------------*/
    .sprite-1play_right_arrow {
      width: 30px;
      height: 30px;
      background: url(../images/sprites_buttons.png) no-repeat -0px -0px;
    }
    .sprite-2pause {
      width: 30px;
      height: 30px;
      background: url(../images/sprites_buttons.png) no-repeat -0px -30px;
    }
    .sprite-3speaker_volume- {
      width: 30px;
      height: 30px;
      background: url(../images/sprites_buttons.png) no-repeat -0px -60px;
    }
    .sprite-4speaker_volume {
      width: 30px;
      height: 30px;
      background: url(../images/sprites_buttons.png) no-repeat -0px -90px;
    }

    button {
      background-color: transparent;
      width: 60px;
    }

    div.sprite-1play_right_arrow,
    .sprite-2pause,
    .sprite-3speaker_volume-,
    div.sprite-4speaker_volume {
      margin: 0;
      padding: 0;
    }
  }
}

footer {
  background: linear-gradient(to bottom, #cfcfcf, #707070);
  height: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 8);

  .logo_social_icons {
    width: 60%;
    margin: 0 auto;

    p {
      display: inline-block;
      margin: 48px 0 0 100px;
    }
  }

  .logo {
    float: left;
    margin: 15px 210px 0 15px;
  }

  .social_icons {
    width: 900px;

    p {
      display: inline-block;
      margin: 40px 0 0 0;
    }

    .sprite-facebook {
      width: 40px;
      height: 40px;
      float: left;
      background: url(../images/sprites_si.png) no-repeat -0px -0px;
    }
    .sprite-linkedin {
      width: 40px;
      height: 40px;
      float: left;
      background: url(../images/sprites_si.png) no-repeat -0px -40px;
    }
    .sprite-twitter {
      width: 40px;
      height: 40px;
      float: left;
      background: url(../images/sprites_si.png) no-repeat -0px -80px;
    }
    .sprite-you-tube {
      width: 40px;
      height: 40px;
      float: left;
      background: url(../images/sprites_si.png) no-repeat -0px -120px;
    }
  }
}




